@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
    box-sizing: border-box;
    --main-color: #2F4858;
    --mint: #BFE5D9;
    --darker-mint: #9CC4C0
}

*, ::before, ::after {
    box-sizing: inherit;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
}

.all-container{
    font-size: 12px;
    color: var(--main-color);
   
    display: grid;
    grid-template-rows: 90px 1fr 25px;
}

.header {
    text-align: center;
    font-size: 10px;
    padding: 3px;
    font-family: 'Lato', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--main-color);
    padding: 1em;
}

.container {
    padding: 1em;
    height: calc(100vh - 115px);
    background-color: var(--mint);
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
}

.container__item {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid var(--darker-mint);
    margin: 1%;
    flex: 0 0 98%;
    position: relative;
}

.container__title {
    text-align: center;
    font-family: 'Lato', cursive;
    font-weight: bold;
    margin: 0.5em;
   // font-size: 11px;
}

.container__description {
    font-family: 'Lato', cursive;
}

.container__link {
    position: absolute;
    font-family: 'Lato', cursive;
    bottom: 1em;
    left: 2em;
}

footer {
    padding: 0.5em;
    font-size: 10px;
    text-align: center;
    font-family: 'Lato', cursive;
}

@media only screen and (min-width: 600px) {
    .container__item {
        flex: 0 0 48%;
    }
}

@media only screen and (min-width: 980px) {
    .container__item {
        flex: 0 0 31%;
    }
}



@media only screen and (min-width: 1280px) {
    .container__item {
        flex: 0 0 23%;
    }
}

@media only screen and (min-width: 1600px) {
    .container__item {
        flex: 0 0 18%;
    }
}