

*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #181717;
}

.logo{
  height: 25rem;
  width: 15rem;
  display: flex;
}

.bar{
    height: inherit;
    width: 5rem;
}

.middle{
    background-color: #E50914;
    transform: skewX(21.5deg);
    position: relative;
    box-shadow: 0px 0px 30px -5px #181717;
    border: none;
    z-index: 1;

}

.left{
    background-color: #B00000;
    position: relative;

}

.middle::after{

    content: "";
    position: absolute;
    background-color: #181717;
    width: 88px;
    height: 12px;
    bottom: -2px;
    bottom: -4px;
    left: -2px;
    border-radius: 10% 99% 0 0;
    border-color: #181717;
    transform: rotate(2deg);
  }


  .left::after {
    content: "";
    position: absolute;
     background-color: #181717;
    width: 100px;
    height: 12px;
    bottom: -4px;
    right: -2px;
    border-radius: 99% 10% 0 0;
    transform: rotate(-2deg);
  }

.right{
    position: relative;
    background-color: #B00000;
}






